*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth ;
}
body{
    min-height:100vh;
    min-width:760px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
a
{
    text-decoration:none;
    color:black;

}
Ul,ol{
    list-style:none;
}
section{
    width: 100%;
    min-height:20vh;
    /* background-color: #008cff; */
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:50px;
    flex-wrap:wrap;
    /* flex-direction:column; */
}
p{
    cursor:default;
}
input{
    border: none;
    outline:none;
}